/*Body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
}
h1{
    color: #ffffff;
}
h2{
    color: #ffffff;
}
h3{
    color: #ffffff;
}
h4{
    color: #ffffff;
}
h5{
    color: #ffffff;
}
h6{
    color: #ffffff;
}
a:hover{
    text-decoration: underline;
}
ul{
    margin-left: 30px;
    list-style: disc;
}