body{
  margin: 0px;
}

.container {
  text-align: center;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: grey;
}


button {
  padding: 10px 20px;
  width: 320px;
  border: none;
  border-radius: 15px;
  background-color: #f19113;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #8f6518;
}


label {
  font-size: 16px; 
  font-weight: bold; 
  color: #030303; 
  align-items: center;
  text-align: center; 
  margin-left: -2px; 
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  margin-top: 20px;
}
label:hover{

  text-decoration: underline;
}


input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

  
h1 {
  margin-bottom: 20px;
}

